body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
table,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
}
tr:nth-child(even) {
  background-color: #b6cada;
}
.table_content {
  margin-top: 20px;
  padding-top: 30px;
  max-height: 185px;
  overflow-x: auto; 
  overflow-y: auto;
  width: 100%;
}
#my_table{
    width: 100%;
    display: none;
}
#showTableButton{
  margin-right: 20px;
  margin-top: 10px;
  width: 150px;
  height: 30px;
  font-weight: bold;
  background-color: rgba(199, 199, 51, 0.61);
  cursor: pointer;
}
.body_class{
  display: flex;
  flex-direction: column;
  margin: 10px;
  box-shadow: 1px 1px 10px black;
  width: fit-content;
  padding: 10px 50px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: white;
}
#gender{
  display: flex;
  align-items: center;
}
form{
  overflow-x: auto; 
  overflow-y: auto;
}
#user_submit{
  margin-right: 20px;
  width: 150px;
  height: 30px;
  font-weight: bold;
  background-color: rgba(32, 32, 29, 0.61);
  cursor: pointer;
}
#user_reset{
  margin-right: 20px;
  width: 150px;
  height: 30px;
  font-weight: bold;
  background-color:rgba(32, 32, 29, 0.61);
  margin-top: 10px;
  cursor: pointer;
}
body{
  background-color: rgb(228, 233, 238);
}
caption{
  padding-bottom: 20px;
  font-size: 30px;
}
@media (max-width:150px){
 h1{
  font-size: 20vw;
 }
}
#nextButton {
  width: 65px;
  height: 30px;
  font-weight: bold;
  background-color:rgba(32, 32, 29, 0.61);
  margin-top: 20px;
  padding: 2px;
  cursor: pointer;
  display: none;
}
#prevButton{
  height: 30px;
  font-weight: bold;
  background-color:rgba(32, 32, 29, 0.61);
  margin-top: 20px;
  padding: 2px;
  cursor: pointer;
  display: none;
}
.page_button{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.move_button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.move{
  cursor: pointer;
}
.body_interest{
  display: flex;
  gap: 20px;
}
#areaOfInterest{
  min-width: 80px;
}
#areaOfInterestDest{
  min-width: 80px;
}
